<a href="https://colab.research.google.com/github/JMYoon90/JM_python/blob/main/py09_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수(function)

* 함수(function): 기능을 수행하는 코드 블록.
* 인수(argument): 함수를 호출할 때, 함수에게 전달하는 값(들).
* 매개변수(parameter): argument를 저장하기 위해서 함수를 정의할 때, 선언하는 (지역)변수
* 반환 값(return value): 함수가 기능의 수행 결과로 반환하는 값.
    * 반환 값이 있는 함수
    * 반환 값이 없는 함수

파이썬에서 함수 정의하는 방법:

```
def function_name([param, ...]):
    ["""문서화 주석: 함수 설명, 파라미터 설명, 리턴 값 설명"""]
    함수 기능 코드 블록
    [return 값]
```

In [1]:
def subtract(x, y):
    """숫자 x, y를 전달받아서, x-y를 리턴하는 함수.
    """
    return x - y

In [3]:
result = subtract(1,2)
result

-1

파이썬의 함수는 2개 이상의 값을 반환할 수 있음. 튜플을 리턴하는 것.

In [4]:
def plus_and_minus(x, y):
    """2개의 숫자 x,y를 전달받아서, x+y와 x-y를 리턴하는 함수"""
    return x + y, x - y

In [6]:
result = plus_and_minus(1, 2)
result

(3, -1)

In [8]:
plus, minus = plus_and_minus(1, 2)
print(plus)
print(minus)

3
-1

값을 반환하지 않는 함수.

In [12]:
def repeat_message(message, n):
    """문자열 message와 반복 횟수 n을 전달받아서, 문자열을 n번 출력하는 함수"""
    for _ in range(n):
        print(message)


    return None # 반환 값이 없음을 명시적으로 작성.
    # 반환 값이 없는 경우에 retrun None 문장은 보통 생략함.

In [14]:
result = repeat_message('안녕하세요', 3)
print(f'result = {result}')

안녕하세요
안녕하세요
안녕하세요
result = None

# 함수 작성 연습

In [15]:
import random # 난수 생성
import math # sqrt() 함수

## Ex 1.

* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.

In [50]:
def make_list(start, end, n):
    return [random.randrange(start, end) for _ in range(n)]

In [53]:
result = make_list(0, 10, 5)
print(result)

[8, 5, 7, 7, 1]

## Ex 2.

* 함수 이름: calc_sum
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.

In [55]:
def calc_sum(num_list):
    total = 0
    for x in num_list:
        total += x
    
    return total

In [56]:
result2 = calc_sum(result)
print(result2)

28

## Ex 3.

* 함수 이름: calc_mean
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.

In [57]:
def calc_mean(num_list):
    return calc_sum(num_list) / len(num_list)

In [58]:
result3 = calc_mean(result)
print(result3)

5.6

## Ex 4.

* 함수 이름: calc_var
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
    * 분산 = (값 - 평균)^2 들의 평균

In [59]:
def calc_var(num_list):
    mean = calc_mean(num_list)
    squares = [(x - mean) ** 2 for x in num_list]
    return calc_mean(squares)

In [60]:
result4 = calc_var(result)
print(result4)

6.24

## Ex 5.

* 함수 이름: calc_stddev
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 표준편차(standard deviation)를 리턴하는 함수.
    * 표준 편차 = root(분산)

In [44]:
def calc_stddev(num_list):
    return math.sqrt(calc_var(num_list))

In [61]:
result5 = calc_stddev(result)
print(result5)

2.4979991993593593

## Ex 6.

* 함수 이름: find_max_and_min
* 기능: 숫자들의 리스트에서 최댓값과 최솟값을 리턴하는 함수.

In [65]:
def find_max_and_min(num_list):
    max = num_list[0] # 리스트에서 첫번째 원소를 최대값이라고 가정.
    min = num_list[0] # 리스트에서 첫번째 원소를 최소값이라고 가정.
    for x in num_list: # 리시트의 원소들을 처음부터 끝까지 반복하면서,
        if x > max: # 리스트에 있는 값이 max보다 크다면
            max = x
        if x < min: # 리스트에 있는 값이 min보다 작다면
            min = x
    return max, min

In [67]:
find_max_and_min(result)

(8, 1)

# Default argument(기본 인수)

* 함수를 정의할 때, 파라미터에 설정한 기본값.
* 함수를 호출할 때, default argument가 있는 파라미터에 값을 전달하지 않으면, 기본값이 사용됨.
* 함수를 호출할 때, default argument가 있는 파라미터에 값을 전달하면, 기본값은 무시되고 전달한 값을 사용함.
* **(주의)** 함수를 정의할 때,  default argument가 있는 파라미터들은 default argument가 없는 파라미터들 뒤에 선언해야 함!

In [68]:
def repeat_message2(msg, n=1):
    for _ in range(n):
        print(msg)

In [70]:
repeat_message2('Hello')

Hello

In [72]:
repeat_message2('Hello', 3)

Hello
Hello
Hello