<a href="https://colab.research.google.com/github/JMYoon90/JM_python/blob/main/py11_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OOP(Object-Oriented Programming, 객체지향 프로그래밍)

## list, dict 데이터 타입 사용 프로그래밍

In [1]:
students = [
    {'name': 'aaa', 'java': 100, 'python': 90, 'javascript': 70},
    {'name': 'bbb', 'java': 90, 'python': 80, 'javascript': 90},
    {'name': 'ccc', 'java': 50, 'python': 100, 'javascript': 99}
]

In [3]:
# 각 학생의 3과 총점과 평균 출력
for s in students:
    total = s['java'] + s['javascript'] + s['python']
    mean = total / 3
    print(f'이름: {s["name"]}, 총점: {total}, 평균: {mean}')

이름: aaa, 총점: 260, 평균: 86.66666666666667
이름: bbb, 총점: 260, 평균: 86.66666666666667
이름: ccc, 총점: 249, 평균: 83.0

## 함수형 프로그래밍(Functional programming)

In [4]:
def create_student(name, java, python, javascript):
    student = {
        'name': name,
        'java': java,
        'python': python,
        'javascript': javascript
    }
    return student

In [5]:
students = [
    create_student('김길동', 100, 90, 80),
    create_student('이길동', 50, 60, 70),
    create_student('박길동', 100, 100, 99)
]

In [6]:
def get_total(student):
    return student['java'] + student['python'] + student['javascript']

In [7]:
def get_mean(student):
    return get_total(student) / 3

In [9]:
for s in students:
    name = s['name']
    total = get_total(s)
    mean = get_mean(s)
    print(f'이름: {name}, 총점: {total}, 평균: {mean}')

이름: 김길동, 총점: 270, 평균: 90.0
이름: 이길동, 총점: 180, 평균: 60.0
이름: 박길동, 총점: 299, 평균: 99.66666666666667

## 객체 지향 프로그래밍(OOP)

In [10]:
class Student:
    # 생성자 함수: 생성자를 호출하면 파이썬 인터프리터에 의해서 자동으로 호출되는 메서드.
    def __init__(self, name, java, python, javascript):
        self.name = name
        self.java = java
        self.python = python
        self.javascript = javascript

    def get_total(self):
        return self.java + self.python + self.javascript

    def get_mean(self):
        return self.get_total() / 3

    def print_info(self):
        print(f'이름: {self.name}, 총점: {self.get_total()}, 평균 {self.get_mean()}')

In [11]:
student1 = Student('홍길동', 100, 100, 100)

In [12]:
student1.print_info()

이름: 홍길동, 총점: 300, 평균 100.0

# 클래스 작성 연습

In [14]:
import math # sqrt() 함수 사용을 위해

* 2차원 평면의 점의 좌표(x, y)를 표현하는 클래스.
* 메서드: 
    * 점의 좌표를 원래 위치에서 dx, dy만큼 이동시키는 메서드.
    * 두 점 간의 거리를 리턴하는 메서드.

In [23]:
class Point:
    def __init__(self, x=0, y=0):
        # 인스턴스 변수(객체 속성) 선언과 초기화
        self.x = x
        self.y = y

    def __str__(self):
        return f'Point(x={self.x}, y={self.y})'

    def move_position(self, dx, dy):
        self.x += dx
        self.y += dy
        return self
    
    def distance(self, pt):
        return math.sqrt((self.x - pt.x) ** 2 + (self.y - pt.y) ** 2)

In [17]:
# 좌표가 원점(0, 0)인 Point 타입 객체 생성
point0 = Point(0, 0)
point0

In [19]:
print(point0.x) # point 인스턴스의 속성(필드)
print(point0.y)

0
0

In [20]:
point0.move_position(1,2)

In [21]:
print(point0.x)
print(point0.y)

1
2

In [22]:
point1 = Point(1, 0)
point0.distance(point1)

2.0

In [24]:
pt1 = Point()
print(pt1)

Point(x=0, y=0)

In [26]:
pt2 = Point(1) # positional argument -> x좌표, y좌표 순서
print(pt2)

Point(x=1, y=0)

In [28]:
pt3 = Point(y=1) # keyword argument
print(pt3)

Point(x=0, y=1)

In [29]:
pt4 = Point(x=1)
print(pt4)

Point(x=1, y=0)

In [30]:
pt5 = Point(x=1, y=2)
print(pt5)

Point(x=1, y=2)

# magic method

모든 클래스가 같은 이름으로 가지고 있는 메서드. 특별한 경우에 자동으로 호출되는 메서드

* `__init__(self)`: 생성자를 호출하면 자동으로 호출되는 메서드. 인스턴스 변수 선언 & 초기화.
* `__str__(self)`: 문자열을 리턴하는 메서드. `print()` 함수 안에서 자동으로 호출됨.
* `__repr__(self)`: 문자열을 리턴하는 메서드. 식(expression)을 출력할 때 자동으로 호출되는 메서드. representation
    * 클래스에서 `__str__` 메서드와 `__repr__`메서드를 다르게 구현하면, print() 함수로 출력하는 내용과 식을 자동으로 출력하는 내용이 서로 다름.
    * print() 함수는 `__str__` 메서드가 구현되어 있으면 `__str__` 메서드를 호출하고, `__str__` 메서드가 구현되어 있지 않으면 `__repr__` 메서드를 호출함.
* `__eq__(self, o)`: 두 객체가 같은지(True) 다른지(False)를 리턴하는 메서드. `==` 연산자를 사용했을 때 자동으로 호출되는 메서드.
* `__add__(self, o)`: `+` 연산자를 사용했을 때 자동으로 호출되는 메서드.

In [34]:
class T:
    def __str__(self):
        return 'class T instance';

    def __repr__(self):
        return 'T'
t = T()
print(t) # print 함수를 사용한 출력
t # 셀의 가장 마지막 줄에 있는 표현식의 자동 출력

class T instance

T

In [35]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]

In [37]:
list1 == list2 # list1.__eq__(list2)

True

In [39]:
list1 + list2 # list1.__add__(list2)

[1, 2, 3, 1, 2, 3]

In [40]:
list1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [65]:
class Number:
    def __init__(self, x):
        self.x = x

    def __repr__ (self):
        return f'{self.x}'

    def __eq__(self, other):
        return self.x == other.x

    def __add__(self, other):
        return Number(self.x + other.x)

In [66]:
n1 = Number(10)
n2 = Number(20)
n3 = Number(10)

In [67]:
print(n1, n2, n3)

10 20 10

In [68]:
print(n1 == n2)
print(n1 == n3)

False
True

In [70]:
n1 + n2 # + 연산 결과 => Number 객체 => __repr__ 호출

30

# 클래스 작성 연습

* class Score
    * 속성: korean, english, math
    * 메서드: 총점, 평균, `__repr__`,`__eq__`
* class Student
    * 속성: stu_no, stu_name, score(Score 객체 타입)
    * 메서드: `__repr__`

In [ ]:
class Score