<a href="https://colab.research.google.com/github/JMYoon90/JM_python/blob/main/py14_try.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오류(Error) 처리 구문

* 오류가 발생한 위치와 원인을 파악해서 오류가 발생하지 않도록 코드 수정.
* 오류가 발생하더라도 프로그램이 비정상적으로 종료되지 않고 계속 실행될 수 있도록 처리 -> try 구문
    * Java는 반드시 try-catch 구문을 사용해야만 하는 Exception 종류들이 있음.
        * nullPointerException: try-catch가 불필요.
        * SQLException: try-catch가 반드시 필요.
    * Python은 모든 오류 처리에서 try-catch는 필수가 아님.


```
try:
    (1) 실행할 코드 블록
except [에러 클래스 이름 [as 별명]]:
    (2) 에러가 발생했을 때 실행할 코드 블록
[else:
    (3) 에러가 발생하지 않았을 때 실행할 코드 블록]
[finally:
    (4) try블록을 실행 중에 에러 발생 여부와 상관 없이 항상 실행할 코드 블록]
```

* 에러가 발생하지 않는 경우: (1) -> (3) -> (4)
* 에러가 발생하는 경우 : (1) -> (2) -> (4)

In [2]:
try:
    x = int(input('정수 입력>>> '))
    print(f'x = {x}')
except: # 모든 종류의 에러를 처리
    print(' 정수로 입력해야 함!')

 정수로 입력해야 함!

In [6]:
try:
    x = int(input('정수 입력>>> ')) # 1.
except ValueError as e:
    print(e) # 2.
else:
    print(f'x = {x}') # 3.
finally:
    print('=== end ===') # 4.

정수 입력>>> 100
x = 100
=== end ===

# Ex 1.
정수 1개를 입력받고, 입력받은 정수를 출력.

정수로 변환할 수 없는 문자열이 입력된 경우에는 적절한 오류 메시지를 출력한 후
다시 입력을 받아아 함.

In [12]:
while True:
    try:
        x = int(input('정수 입력>>> '))
        print(f'x = {x}')
        break
    except:
        print('정수만 입력해주세요')

정수 입력>>> 123
x = 123

Ex 2. 단어 개수 세기

리스트 words가 가지고 있는 단어들을 key로 하고, 그 단어가 리스트에 나오는 횟수를 값으로 하는 dict를 생성.

In [18]:
words = ['java', 'python', 'java', 'javascript', 'python', 'kotlin', 'html', 'python']
words_counts = {}

for w in words:
    if w in words_counts:
        words_counts[w] += 1
    else:
        words_counts[w] = 1
    print(words_counts)

{'java': 1}
{'java': 1, 'python': 1}
{'java': 2, 'python': 1}
{'java': 2, 'python': 1, 'javascript': 1}
{'java': 2, 'python': 2, 'javascript': 1}
{'java': 2, 'python': 2, 'javascript': 1, 'kotlin': 1}
{'java': 2, 'python': 2, 'javascript': 1, 'kotlin': 1, 'html': 1}
{'java': 2, 'python': 3, 'javascript': 1, 'kotlin': 1, 'html': 1}

In [19]:
word_counts2 = {}
for w in words:
    try:
        word_counts2[w] += 1
    except:
        word_counts2[w] = 1
print(word_counts2)

{'java': 2, 'python': 3, 'javascript': 1, 'kotlin': 1, 'html': 1}