<a href="https://colab.research.google.com/github/JMYoon90/JM_python/blob/main/py16_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Colab 연결.
* Google Drive 마운트(연결).
* csv_exam.csv 파일을 Google Drive의 lab_python 폴더에 업로드.


1. csv_exam.csv 파일을 읽기 모드로 오픈
1. 파일의 첫번째 줄은 (컬럼 이름이기 때문에) 읽고 아무 동작 없이 건너뜀.
1. 파일의 두번째 줄부터 마지막 줄까지 반복:
    * 각 줄에서 읽은 내용을 쉼표(,)로 구분한 리스트들을 저장하는 리스트를 만듦.
    ```
    [['1', '1', '50', '98' , '50'], ['2', '1', '60', '97', '60'], ...]
    ```
1. 2차원 리스트의 모든 값들을 숫자로 변환.
    ```
    [[1, 1, 50, 98 , 50], [2, 1, 60, 97, 60], ...]
    ```
1. 2차원 리스트에서 수학 점수들로만 이루어진 1차원 리스트를 만듦.
    ```
    [50, 60, 45, ...]
    ```
1. 수학 점수의 평균, 최댓값, 최솟값을 찾음.
1. 1반 학생들의 수학 점수의 총점, 평균, 최댓값, 최솟값 찾음.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
dir_path = '/content/drive/MyDrive/Colab Notebooks/labPython'
file_name = 'csv_exam.csv'

In [3]:
import os
import math

In [4]:
file_path = os.path.join(dir_path, file_name)
file_path

'/content/drive/MyDrive/Colab Notebooks/labPython/csv_exam.csv'

In [13]:
with open(file_path, mode='rt') as f:
    lines = f.readlines()
    csv_list = []
    for line in lines[1:]:
        a = line.strip().split(',')
        csv_list.append([int (i) for i in a])
    print(f'csv_list = {csv_list}')

csv_list = [[1, 1, 50, 98, 50], [2, 1, 60, 97, 60], [3, 1, 45, 86, 78], [4, 1, 30, 98, 58], [5, 2, 25, 80, 65], [6, 2, 50, 89, 98], [7, 2, 80, 90, 45], [8, 2, 90, 78, 25], [9, 3, 20, 98, 15], [10, 3, 50, 98, 45], [11, 3, 65, 65, 65], [12, 3, 45, 85, 32], [13, 4, 46, 98, 65], [14, 4, 48, 87, 12], [15, 4, 75, 56, 78], [16, 4, 58, 98, 65], [17, 5, 65, 68, 98], [18, 5, 80, 78, 90], [19, 5, 89, 68, 87], [20, 5, 78, 83, 58]]

In [14]:
# math_score = [i[2] for i in csv_list]
# math_score_1class = [x[2] for x in csv_list if x[1] == 1]
# print(f'math_score = {math_score}')
# print(f'math_score_1class = {math_score_1class}')

# math_sum = 0
# math_mean = 0
# math_max = math_score[0]
# math_min = math_score[0]

# for m in math_score:
#     math_sum += m
#     if m > math_max:
#         math_max = m
#     if m < math_min:
#         math_min = m
# math_mean = math_sum / len(math_score)

# print(f'수학점수 합계={math_sum}, 평균={math_mean}, 최고점={math_max}, 최저점={math_min}')

# math_sum_1class = 0
# math_mean_1class = 0
# math_max_1class = math_score_1class[0]
# math_min_1class = math_score_1class[0]

# for m in math_score_1class:
#     math_sum_1class += m
#     if m > math_max_1class:
#         math_max_1class = m
#     if m < math_min_1class:
#         math_min_1class = m
# math_mean = math_sum / len(math_score)

# print(f'1반 수학점수 합계={math_sum_1class}, 평균={math_mean_1class}, 최고점={math_max_1class}, 최저점={math_min_1class}')

In [15]:
# math = [] # 수학 점수들만 저장할 (1차원) 리스트
# for row in csv_list: # 2차원 리스트에서  1차원 리스트를 순서대로 반복하면서
#     math.append(row[2]) # 수학점수(1차원  리스트의 인덱스 2번 원소)를 리스트에 추가.

math = [row[2] for row in csv_list]
print(math)

[50, 60, 45, 30, 25, 50, 80, 90, 20, 50, 65, 45, 46, 48, 75, 58, 65, 80, 89, 78]

In [17]:
sum(math) / len(math)

57.45

In [18]:
max(math)

90

In [19]:
min(math)

20

In [22]:
math_class1 = math[:4]
math_class1

[50, 60, 45, 30]

In [24]:
# math_class1 = []
# for row in csv_list:
#     if row[1] == 1:
#         math_class1.append(row[2])

math_class1 = [row[2] for row in csv_list if row[1] == 1]

In [26]:
sum(math_class1) / len(math_class1)

46.25

In [27]:
max(math_class1)

60

In [28]:
min(math_class1)

30