<a href="https://colab.research.google.com/github/JMYoon90/JM_python/blob/main/py20_gapminder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


* GitHub에 저장된 [gapminder.tsv](https://github.com/JakeOh/202208_itw_java134_lab_python/raw/main/gapminder.tsv) 파일을 읽고 DataFrame을 생성
* 데이터 프레임 탐색
* (중복되지 않는) 국가 이름의 개수?
* (중복되지 않는) 대륙 이름?
* (중복되지 않는) 연도의 개수?
* 국가이름, 연도, 1인당 GDP 컬럼을 선택
* 1인당 GDP의 최댓값, 최솟값을 찾고, 그 row를 출력
* 기대수명(lifeExp)의 최솟값과 최댓값을 찾고, 그 행들을 출력
* 연도별 기대수명의 평균을 출력
* 연도별 1인당 GDP의 평균을 출력
* 연도별 대륙별 전세계 인구를 출력

In [15]:
import pandas as pd
import numpy as np

In [3]:
# GitHub에 저장된 파일 경로(이름)
file_path = 'https://github.com/JakeOh/202208_itw_java134_lab_python/raw/main/gapminder.tsv'

In [4]:
# 파일을 읽고, DataFrame 생성
# CSV(Comma-Separated Values), TSV(Tab-Seprated Values)
gapm = pd.read_csv(file_path, sep = '\t')

In [5]:
# 데이터 프레임 탐색
gapm

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [17]:
gapm.info() # 데이터프레임 정보

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [20]:
gapm['country'].value_counts() # 카테고리 타입의 기술 통계량 - 빈도수

Afghanistan          12
Pakistan             12
New Zealand          12
Nicaragua            12
Niger                12
                     ..
Eritrea              12
Equatorial Guinea    12
El Salvador          12
Egypt                12
Zimbabwe             12
Name: country, Length: 142, dtype: int64

In [21]:
gapm.continent.value_counts()

Africa      624
Asia        396
Europe      360
Americas    300
Oceania      24
Name: continent, dtype: int64

In [22]:
# 국가 이름 개수?
s = gapm['country'].unique()
print(len(s))

142

In [7]:
# 대륙 이름?
for s in gapm['continent'].unique():
    print(s)

Asia
Europe
Africa
Americas
Oceania

In [8]:
# 연도의 개수?
s = gapm['year'].unique()
print(len(s))
print(s)

12
[1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007]

In [9]:
# 국가이름, 연도, 1인당 GDP 컬럼을 선택
gapm[['country', 'year', 'gdpPercap']]

          country  year   gdpPercap
0     Afghanistan  1952  779.445314
1     Afghanistan  1957  820.853030
2     Afghanistan  1962  853.100710
3     Afghanistan  1967  836.197138
4     Afghanistan  1972  739.981106
...           ...   ...         ...
1699     Zimbabwe  1987  706.157306
1700     Zimbabwe  1992  693.420786
1701     Zimbabwe  1997  792.449960
1702     Zimbabwe  2002  672.038623
1703     Zimbabwe  2007  469.709298

[1704 rows x 3 columns]

In [10]:
# 1인당 GDP의 최댓값, 최솟값을 찾고, 그 row를 출력
gapm[(gapm['gdpPercap'] == gapm['gdpPercap'].min()) |
     (gapm['gdpPercap'] == gapm['gdpPercap'].max())
]

              country continent  year  lifeExp       pop      gdpPercap
334  Congo, Dem. Rep.    Africa  2002   44.966  55379852     241.165876
853            Kuwait      Asia  1957   58.033    212846  113523.132900

In [11]:
# 기대수명(lifeExp)의 최솟값과 최댓값을 찾고, 그 행들을 출력
gapm[(gapm['lifeExp'] == gapm['lifeExp'].min()) |
     (gapm['lifeExp'] == gapm['lifeExp'].max())
]

     country continent  year  lifeExp        pop     gdpPercap
803    Japan      Asia  2007   82.603  127467972  31656.068060
1292  Rwanda    Africa  1992   23.599    7290203    737.068595

In [25]:
# 연도별 기대수명의 평균을 출력
# for s in gapm['year'].unique():
#     print(s, ' 년도 기대수명 평균 : ', gapm['lifeExp'][gapm['year'] == s].mean())
gapm.groupby('year').lifeExp.mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [26]:
# 연도별 1인당 GDP의 평균을 출력
# for s in gapm['year'].unique():
#     print(s, ' 년도 GDP 평균 : ', gapm['gdpPercap'][gapm['year'] == s].mean())
gapm.groupby('year').gdpPercap.mean()

year
1952     3725.276046
1957     4299.408345
1962     4725.812342
1967     5483.653047
1972     6770.082815
1977     7313.166421
1982     7518.901673
1987     7900.920218
1992     8158.608521
1997     9090.175363
2002     9917.848365
2007    11680.071820
Name: gdpPercap, dtype: float64

In [27]:
# 연도별 대륙별 전세계 인구를 출력
# for y in gapm['year'].unique():
#     print('----------', y, '----------')
#     for c in gapm['continent'].unique():
#         print(y, ' 년도,', c, ' 대륙 인구 :  ',  gapm['gdpPercap'][gapm['year'] == y][gapm['continent'] == c].sum())
gapm.groupby(['year', 'continent'])['pop'].sum()

year  continent
1952  Africa        237640501
      Americas      345152446
      Asia         1395357351
      Europe        418120846
      Oceania        10686006
1957  Africa        264837738
      Americas      386953916
      Asia         1562780599
      Europe        437890351
      Oceania        11941976
1962  Africa        296516865
      Americas      433270254
      Asia         1696357182
      Europe        460355155
      Oceania        13283518
1967  Africa        335289489
      Americas      480746623
      Asia         1905662900
      Europe        481178958
      Oceania        14600414
1972  Africa        379879541
      Americas      529384210
      Asia         2150972248
      Europe        500635059
      Oceania        16106100
1977  Africa        433061021
      Americas      578067699
      Asia         2384513556
      Europe        517164531
      Oceania        17239000
1982  Africa        499348587
      Americas      630290920
      Asia         2610135582
      Europe        531266901
      Oceania        18394850
1987  Africa        574834110
      Americas      682753971
      Asia         2871220762
      Europe        543094160
      Oceania        19574415
1992  Africa        659081517
      Americas      739274104
      Asia         3133292191
      Europe        558142797
      Oceania        20919651
1997  Africa        743832984
      Americas      796900410
      Asia         3383285500
      Europe        568944148
      Oceania        22241430
2002  Africa        833723916
      Americas      849772762
      Asia         3601802203
      Europe        578223869
      Oceania        23454829
2007  Africa        929539692
      Americas      898871184
      Asia         3811953827
      Europe        586098529
      Oceania        24549947
Name: pop, dtype: int64