<a href="https://colab.research.google.com/github/JMYoon90/JM_python/blob/main/py20_gapminder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


* GitHub에 저장된 [gapminder.tsv](https://github.com/JakeOh/202208_itw_java134_lab_python/raw/main/gapminder.tsv) 파일을 읽고 DataFrame을 생성
* 데이터 프레임 탐색
* (중복되지 않는) 국가 이름의 개수?
* (중복되지 않는) 대륙 이름?
* (중복되지 않는) 연도의 개수?
* 국가이름, 연도, 1인당 GDP 컬럼을 선택
* 1인당 GDP의 최댓값, 최솟값을 찾고, 그 row를 출력
* 기대수명(lifeExp)의 최솟값과 최댓값을 찾고, 그 행들을 출력
* 연도별 기대수명의 평균을 출력
* 연도별 1인당 GDP의 평균을 출력
* 연도별 대륙별 전세계 인구를 출력

In [2]:
import pandas as pd
import seaborn as sns

In [8]:
file_path = 'https://github.com/JakeOh/202208_itw_java134_lab_python/raw/main/gapminder.tsv'

In [11]:
gapm = pd.read_csv(file_path, sep = '\t')

In [13]:
# 데이터 프레임 탐색
gapm

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [38]:
# 국가 이름 개수?
s = gapm['country'].unique()
print(len(s))

142

In [41]:
# 대륙 이름?
for s in gapm['continent'].unique():
    print(s)

Asia
Europe
Africa
Americas
Oceania

In [44]:
# 연도의 개수?
s = gapm['year'].unique()
print(len(s))
print(s)

12
[1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007]

In [46]:
# 국가이름, 연도, 1인당 GDP 컬럼을 선택
gapm[['country', 'year', 'gdpPercap']]

          country  year   gdpPercap
0     Afghanistan  1952  779.445314
1     Afghanistan  1957  820.853030
2     Afghanistan  1962  853.100710
3     Afghanistan  1967  836.197138
4     Afghanistan  1972  739.981106
...           ...   ...         ...
1699     Zimbabwe  1987  706.157306
1700     Zimbabwe  1992  693.420786
1701     Zimbabwe  1997  792.449960
1702     Zimbabwe  2002  672.038623
1703     Zimbabwe  2007  469.709298

[1704 rows x 3 columns]

In [48]:
# 1인당 GDP의 최댓값, 최솟값을 찾고, 그 row를 출력
gapm[(gapm['gdpPercap'] == gapm['gdpPercap'].min()) |
     (gapm['gdpPercap'] == gapm['gdpPercap'].max())
]

              country continent  year  lifeExp       pop      gdpPercap
334  Congo, Dem. Rep.    Africa  2002   44.966  55379852     241.165876
853            Kuwait      Asia  1957   58.033    212846  113523.132900

In [50]:
# 기대수명(lifeExp)의 최솟값과 최댓값을 찾고, 그 행들을 출력
gapm[(gapm['lifeExp'] == gapm['lifeExp'].min()) |
     (gapm['lifeExp'] == gapm['lifeExp'].max())
]

     country continent  year  lifeExp        pop     gdpPercap
803    Japan      Asia  2007   82.603  127467972  31656.068060
1292  Rwanda    Africa  1992   23.599    7290203    737.068595

In [63]:
# 연도별 기대수명의 평균을 출력
for s in gapm['year'].unique():
    print(s, ' 년도 기대수명 평균 : ', gapm['lifeExp'][gapm['year'] == s].mean())

1952  년도 기대수명 평균 :  49.057619718309866
1957  년도 기대수명 평균 :  51.50740112676056
1962  년도 기대수명 평균 :  53.609249014084504
1967  년도 기대수명 평균 :  55.678289577464795
1972  년도 기대수명 평균 :  57.64738647887324
1977  년도 기대수명 평균 :  59.57015746478874
1982  년도 기대수명 평균 :  61.53319718309859
1987  년도 기대수명 평균 :  63.21261267605633
1992  년도 기대수명 평균 :  64.16033802816901
1997  년도 기대수명 평균 :  65.01467605633802
2002  년도 기대수명 평균 :  65.69492253521126
2007  년도 기대수명 평균 :  67.00742253521126

In [65]:
# 연도별 1인당 GDP의 평균을 출력
for s in gapm['year'].unique():
    print(s, ' 년도 GDP 평균 : ', gapm['gdpPercap'][gapm['year'] == s].mean())

1952  년도 GDP 평균 :  3725.276045801408
1957  년도 GDP 평균 :  4299.408344876057
1962  년도 GDP 평균 :  4725.812341961972
1967  년도 GDP 평균 :  5483.653046835212
1972  년도 GDP 평균 :  6770.082815282394
1977  년도 GDP 평균 :  7313.166420794366
1982  년도 GDP 평균 :  7518.901672698592
1987  년도 GDP 평균 :  7900.920217940845
1992  년도 GDP 평균 :  8158.608520688734
1997  년도 GDP 평균 :  9090.175363102111
2002  년도 GDP 평균 :  9917.848364685915
2007  년도 GDP 평균 :  11680.071819878167

In [70]:
# 연도별 대륙별 전세계 인구를 출력
for y in gapm['year'].unique():
    print('----------', y, '----------')
    for c in gapm['continent'].unique():
        print(y, ' 년도,', c, ' 대륙 인구 :  ',  gapm['gdpPercap'][gapm['year'] == y][gapm['continent'] == c].sum())

---------- 1952 ----------
1952  년도, Asia  대륙 인구 :   171450.9721333
1952  년도, Europe  대륙 인구 :   169831.72304279997
1952  년도, Africa  대륙 인구 :   65133.7682227
1952  년도, Americas  대륙 인구 :   101976.563805
1952  년도, Oceania  대륙 인구 :   20596.1713
---------- 1957 ----------
1957  년도, Asia  대륙 인구 :   190995.1870181
1957  년도, Europe  대륙 인구 :   208890.38447800002
1957  년도, Africa  대륙 인구 :   72032.27523730001
1957  년도, Americas  대륙 인구 :   115401.09332900001
1957  년도, Oceania  대륙 인구 :   23197.04491
---------- 1962 ----------
1962  년도, Asia  대륙 인구 :   189069.1976176
1962  년도, Europe  대륙 인구 :   250964.604429
1962  년도, Africa  대륙 인구 :   83100.098892
1962  년도, Americas  대륙 인구 :   122538.54676
1962  년도, Oceania  대륙 인구 :   25392.904860000002
---------- 1967 ----------
1967  년도, Asia  대륙 인구 :   197048.721329
1967  년도, Europe  대륙 인구 :   304314.71269600006
1967  년도, Africa  대륙 인구 :   106618.91764460002
1967  년도, Americas  대륙 인구 :   141706.337401
1967  년도, Oceania  대륙 인구 :   28990.043579999998
---------- 1972 ----------
1972  년도, Asia  대륙 인구 :   270186.46708180004
1972  년도, Europe  대륙 인구 :   374387.2573940001
1972  년도, Africa  대륙 인구 :   121660.0150583
1972  년도, Americas  대륙 인구 :   162283.353476
1972  년도, Oceania  대륙 인구 :   32834.66676
---------- 1977 ----------
1977  년도, Asia  대륙 인구 :   257113.3626577
1977  년도, Europe  대륙 인구 :   428519.3732879999
1977  년도, Africa  대륙 인구 :   134468.80244010003
1977  년도, Americas  대륙 인구 :   183800.17815700002
1977  년도, Oceania  대륙 인구 :   34567.91521
---------- 1982 ----------
1982  년도, Asia  대륙 인구 :   245326.46019699998
1982  년도, Europe  대륙 인구 :   468536.89653699996
1982  년도, Africa  대륙 인구 :   129042.83390719997
1982  년도, Americas  대륙 인구 :   187668.427202
1982  년도, Oceania  대륙 인구 :   37109.41968
---------- 1987 ----------
1987  년도, Asia  대륙 인구 :   251071.4747551
1987  년도, Europe  대륙 인구 :   516429.32179899997
1987  년도, Africa  대륙 인구 :   118698.78754549997
1987  년도, Americas  대륙 인구 :   194835.006528
1987  년도, Oceania  대륙 인구 :   40896.080319999994
---------- 1992 ----------
1992  년도, Asia  대륙 인구 :   285109.7781751
1992  년도, Europe  대륙 인구 :   511847.042526
1992  년도, Africa  대륙 인구 :   118654.13732869999
1992  년도, Americas  대륙 인구 :   201123.360138
1992  년도, Oceania  대륙 인구 :   41788.09177
---------- 1997 ----------
1997  년도, Asia  대륙 인구 :   324525.07874320005
1997  년도, Europe  대륙 인구 :   572303.454048
1997  년도, Africa  대륙 인구 :   123695.49686530001
1997  년도, Americas  대륙 인구 :   222232.52156399997
1997  년도, Oceania  대륙 인구 :   48048.350340000005
---------- 2002 ----------
2002  년도, Asia  대륙 인구 :   335744.98308710003
2002  년도, Europe  대륙 인구 :   651351.972673
2002  년도, Africa  대륙 인구 :   135168.0282623
2002  년도, Americas  대륙 인구 :   232191.92768300002
2002  년도, Oceania  대륙 인구 :   53877.55608
---------- 2007 ----------
2007  년도, Asia  대륙 인구 :   411609.8867144
2007  년도, Europe  대륙 인구 :   751634.4490780002
2007  년도, Africa  대륙 인구 :   160629.6954463
2007  년도, Americas  대륙 인구 :   275075.790634
2007  년도, Oceania  대륙 인구 :   59620.37655